<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT16310</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body ng-app="demo_form">
    <div class="container">
        <header class="row bg-danger" style="height: 100px;"></header>
        <nav class="row navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">IT16310</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#my-navbar" aria-controls="my-navbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="my-navbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Liên hệ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tài khoản
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Đăng nhập</a></li>
                                <li><a class="dropdown-item" href="#">Đăng ký</a></li>
                                <li><a class="dropdown-item" href="#">Quên mật khẩu</a></li>
                            </ul>
                        </li>
                    </ul>
                    <span class="navbar-text p-2">
                        Tiếng Việt
                    </span>
                    <span class="navbar-text p-2">
                        English
                    </span>
                </div>
            </div>
        </nav>
        <div class="row mt-3">
            <aside class="col-12 col-md-3 p-3">
                <div class="card">
                    <div class="card-header">Hãng điện thoại nổi bật</div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">Apple</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Samsung</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Nokia</a>
                        </li>
                    </ul>
                </div>
            </aside>
            <article class="col-12 col-md-9 pt-3 pb-3">
                <div class="container">
                    <div class="row" ng-controller="my_controller">
                        <form name="form_sv">
                            <div class="mt-2 row">
                                <label class="col-2" for="fullname">Họ tên</label>
                                <div class="col-10">
                                    <input
                                        type="text"
                                        name="fullname"
                                        id="fullname"
                                        ng-model="sv.fullname"
                                        ng-model-options="{ updateOn: 'default', debounce: 800 }"
                                        class="form-control"
                                        autocomplete="off"
                                        required />
                                    <small
                                        class="text-danger"
                                        ng-hide="form_sv.email.$untouched || form_sv.fullname.$valid">
                                        Không được để trống
                                    </small>
                                </div>
                            </div>
                            <div class="mt-2 row">
                                <label class="col-2" for="number">SĐT</label>
                                <div class="col-10">
                                    <input
                                        ng-model="sv.sdt"
                                        type="tel"
                                        name="number"
                                        id="number"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="mt-2 row">
                                <label class="col-2" for="email">
                                    Email
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-10">
                                    <input
                                        ng-model="sv.email"
                                        type="email"
                                        name="email"
                                        id="email"
                                        class="form-control"
                                        autocomplete="off"
                                        required />
                                    <div
                                        class="text-danger"
                                        ng-hide="form_sv.email.$untouched || form_sv.email.$valid">
                                        <small ng-show="form_sv.email.$error.required">
                                            Không được để trống
                                        </small>
                                        <small ng-show="form_sv.email.$error.email">
                                            Không đúng định dạng email
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 row">
                                <label class="col-2" for="password">
                                    Password
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-10">
                                    <input
                                        ng-model="sv.password"
                                        type="password"
                                        name="password"
                                        id="password"
                                        check-password
                                        required
                                        class="form-control" />
                                    <div class="text-danger"
                                        ng-hide="form_sv.password.$untouched || form_sv.password.$valid">
                                        <small ng-show="form_sv.password.$error.required">
                                            Không được để trống
                                        </small>
                                        <small ng-show="form_sv.password.$error.check_password">
                                            Tối thiểu là 6 kí tự
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 row">
                                <label class="col-2" for="avatar">Ảnh đại diện</label>
                                <div class="col-10">
                                    <input
                                        ng-model="sv.avatar"
                                        type="file"
                                        name="avatar"
                                        id="avatar"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="mt-2 row">
                                <label class="col-2" for="gioi_tinh_nam">
                                    Giới tính
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-10 row">
                                    <div class="form-check col-2">
                                        <input type="radio" class="form-check-input"
                                            ng-model="sv.gioi_tinh" value="1"
                                            ng-checked="sv.gioi_tinh == 1"
                                            name="gioi_tinh" id="gioi_tinh_nam" />
                                        <label for="gioi_tinh_nam">Nam</label>
                                    </div>
                                    <div class="form-check col-2">
                                        <input type="radio" class="form-check-input"
                                            ng-model="sv.gioi_tinh" value="0"
                                            ng-checked="sv.gioi_tinh == 0"
                                            name="gioi_tinh" id="gioi_tinh_nu" />
                                        <label for="gioi_tinh_nu">Nữ</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 row">
                                <label class="col-2" for="chuyen_nganh">
                                    Chuyên ngành
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-10">
                                    <select
                                        ng-model="sv.chuyen_nganh"
                                        class="form-select"
                                        name="chuyen_nganh"
                                        id="chuyen_nganh">
                                        <option disabled selected>Chọn chuyên ngành</option>
                                        <option ng-repeat="nganh in ds_chuyen_nganh" value="{{ nganh.ma }}">
                                            {{ nganh.ten }}
                                        </option>
                                    </select>

                                    <!-- <select
                                        ng-model="sv.chuyen_nganh"
                                        class="form-select"
                                        name="chuyen_nganh"
                                        ng-options="nganh.ten for nganh in ds_chuyen_nganh track by nganh.ma"
                                        id="chuyen_nganh">
                                    </select> -->
                                    <label>{{ sv.chuyen_nganh }}</label>
                                </div>
                            </div>
                            <div class="mt-2 row">
                                <button class="btn btn-primary">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
        </div>
        <footer class="row bg-secondary text-center text-white p-2 mt-3">
            <span>TienNH21</span>
        </footer>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angularjs.min.js"></script>
    <script>
        const app = angular.module("demo_form", []);

        function myController($scope) {
            $scope.sv = {
                fullname: "",
                sdt: "",
                email: "",
                password: "",
                avatar: null,
                gioi_tinh: 1,
                chuyen_nganh: "",
            };

            $scope.ds_chuyen_nganh = [
                { ma: "udpm", ten: "Ứng dụng phần mềm" },
                { ma: "tktw", ten: "Thiết kế trang web" },
                { ma: "ltmt", ten: "Lập trình máy tính" },
            ];
        }

        app.controller("my_controller", myController);

        // camelCase -> kebap-case
        app.directive("checkPassword", function () {
            return {
                require: 'ngModel',
                link: function (scope, element, attr, controller) {
                    const fnValidate = function (value) {
                        if (value.length >= 6) {
                            controller.$setValidity("check_password", true);
                        } else {
                            controller.$setValidity("check_password", false);
                        }

                        return value;
                    }

                    controller.$parsers.push(fnValidate);
                }
            };
        });
    </script>
</body>
</html>
